# Libraries and Data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.decomposition import PCA
from scipy import stats

In [2]:
# Load data, setting first column as DataFrame index
df = pd.read_csv('medical_raw_data.csv', index_col=0)
df.head()

,CaseOrder,Customer_id,Interaction,UID,City,State,County,Zip,Lat,Lng,...,TotalCharge,Additional_charges,Item1,Item2,Item3,Item4,Item5,Item6,Item7,Item8
1,1,C412403,8cd49b13-f45a-4b47-a2bd-173ffa932c2f,3a83ddb66e2ae73798bdf1d705dc0932,Eva,AL,Morgan,35621,34.34960,-86.72508,...,3191.048774,17939.403420,3,3,2,2,4,3,3,4
2,2,Z919181,d2450b70-0337-4406-bdbb-bc1037f1734c,176354c5eef714957d486009feabf195,Marianna,FL,Jackson,32446,30.84513,-85.22907,...,4214.905346,17612.998120,3,4,3,4,4,4,3,3
3,3,F995323,a2057123-abf5-4a2c-abad-8ffe33512562,e19a0fa00aeda885b8a436757e889bc9,Sioux Falls,SD,Minnehaha,57110,43.54321,-96.63772,...,2177.586768,17505.192460,2,4,4,4,3,4,3,3
4,4,A879973,1dec528d-eb34-4079-adce-0d7a40e82205,cd17d7b6d152cb6f23957346d11c3f07,New Richland,MN,Waseca,56072,43.89744,-93.51479,...,2465.118965,12993.437350,3,5,5,3,4,5,5,5
5,5,C544523,5885f56b-d6da-43a3-8760-83583af94266,d2f0425877b10ed6bb381f3e2579424a,West Point,VA,King William,23181,37.59894,-76.88958,...,1885.655137,3716.525786,2,1,3,3,5,3,4,3

# Initial Exploration

In [3]:
df.describe()

,CaseOrder,Zip,Lat,Lng,Population,Children,Age,Income,VitD_levels,Doc_visits,...,TotalCharge,Additional_charges,Item1,Item2,Item3,Item4,Item5,Item6,Item7,Item8
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,7412.000000,7586.000000,7536.000000,10000.000000,10000.000000,...,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,5000.50000,50159.323900,38.751099,-91.243080,9965.253800,2.098219,53.295676,40484.438268,19.412675,5.012200,...,5891.538261,12934.528586,3.518800,3.506700,3.511100,3.515100,3.496900,3.522500,3.494000,3.509700
std,2886.89568,27469.588208,5.403085,15.205998,14824.758614,2.155427,20.659182,28664.861050,6.723277,1.045734,...,3377.558136,6542.601544,1.031966,1.034825,1.032755,1.036282,1.030192,1.032376,1.021405,1.042312
min,1.00000,610.000000,17.967190,-174.209690,0.000000,0.000000,18.000000,154.080000,9.519012,1.000000,...,1256.751699,3125.702716,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,2500.75000,27592.000000,35.255120,-97.352982,694.750000,0.000000,35.000000,19450.792500,16.513171,4.000000,...,3253.239465,7986.487642,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000
50%,5000.50000,50207.000000,39.419355,-88.397230,2769.000000,1.000000,53.000000,33942.280000,18.080560,5.000000,...,5852.250564,11573.979365,4.000000,3.000000,4.000000,4.000000,3.000000,4.000000,3.000000,3.000000
75%,7500.25000,72411.750000,42.044175,-80.438050,13945.000000,3.000000,71.000000,54075.235000,19.789740,6.000000,...,7614.989701,15626.491033,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000
max,10000.00000,99929.000000,70.560990,-65.290170,122814.000000,10.000000,89.000000,207249.130000,53.019124,9.000000,...,21524.224210,30566.073130,8.000000,7.000000,8.000000,7.000000,7.000000,7.000000,7.000000,7.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10000 entries, 1 to 10000
Data columns (total 52 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CaseOrder           10000 non-null  int64
 1   Customer_id         10000 non-null  object
 2   Interaction         10000 non-null  object
 3   UID                 10000 non-null  object
 4   City                10000 non-null  object
 5   State               10000 non-null  object
 6   County              10000 non-null  object
 7   Zip                 10000 non-null  int64
 8   Lat                 10000 non-null  float64
 9   Lng                 10000 non-null  float64
 10  Population          10000 non-null  int64
 11  Area                10000 non-null  object
 12  Timezone            10000 non-null  object
 13  Job                 10000 non-null  object
 14  Children            7412 non-null   float64
 15  Age                 7586 non-null   float64
 16  Education           10000 non-null  object
 17  Employment          10000 non-null  object
 18  Income              7536 non-null   float64
 19  Marital             10000 non-null  object
 20  Gender              10000 non-null  object
 21  ReAdmis             10000 non-null  object
 22  VitD_levels         10000 non-null  float64
 23  Doc_visits          10000 non-null  int64
 24  Full_meals_eaten    10000 non-null  int64
 25  VitD_supp           10000 non-null  int64
 26  Soft_drink          7533 non-null   object
 27  Initial_admin       10000 non-null  object
 28  HighBlood           10000 non-null  object
 29  Stroke              10000 non-null  object
 30  Complication_risk   10000 non-null  object
 31  Overweight          9018 non-null   float64
 32  Arthritis           10000 non-null  object
 33  Diabetes            10000 non-null  object
 34  Hyperlipidemia      10000 non-null  object
 35  BackPain            10000 non-null  object
 36  Anxiety             9016 non-null   float64
 37  Allergic_rhinitis   10000 non-null  object
 38  Reflux_esophagitis  10000 non-null  object
 39  Asthma              10000 non-null  object
 40  Services            10000 non-null  object
 41  Initial_days        8944 non-null   float64
 42  TotalCharge         10000 non-null  float64
 43  Additional_charges  10000 non-null  float64
 44  Item1               10000 non-null  int64
 45  Item2               10000 non-null  int64
 46  Item3               10000 non-null  int64
 47  Item4               10000 non-null  int64
 48  Item5               10000 non-null  int64
 49  Item6               10000 non-null  int64
 50  Item7               10000 non-null  int64
 51  Item8               10000 non-null  int64
dtypes: float64(11), int64(14), object(27)
memory usage: 4.0+ MB

In [5]:
df.shape

(10000, 52)

# C4: Data Cleaning Code (Detection)

The code in this section is simply designed to identify the issues rather than perform any cleaning or wrangling steps at this time.

In [6]:
# If we were to drop all rows with ANY NA values, there would only be 2,313 rows with all values out of 10,000
# no_missing_data = df.dropna()
# no_missing_data.info()

If we were to drop all rows with _any_ NA values, there would only be 2,313 rows with all values out of the original 10,000 rows. This is not an option for cleaning this dataset.

### Check that all four patient identifier variables are unique

There are 10,000 rows in the dataset. The following columns are used as unique (encrypted) identifiers to identify unique patients that have been admitted: `'CaseOrder'`, `'Customer_id'`, `'Interaction'`, `'UID'`.

Therefore, each column listed should have 10,000 unique values.

Use `df['col'].nunique()` to retrieve a count of the number of unique values in a column (McCoy 2024).

In [7]:
# Check that the four identifying variables have 10,000 unique values, one for each row of data
df['CaseOrder'].nunique()

10000

In [8]:
# Check that the four identifying variables have 10,000 unique values, one for each row of data
df['Customer_id'].nunique()

10000

In [9]:
# Check that the four identifying variables have 10,000 unique values, one for each row of data
df['Interaction'].nunique()

10000

In [10]:
# Check that the four identifying variables have 10,000 unique values, one for each row of data
df['UID'].nunique()

10000

In [11]:
unique_identifiers = df[['CaseOrder', 'Customer_id', 'Interaction', 'UID']]
unique_identifiers

,CaseOrder,Customer_id,Interaction,UID
1,1,C412403,8cd49b13-f45a-4b47-a2bd-173ffa932c2f,3a83ddb66e2ae73798bdf1d705dc0932
2,2,Z919181,d2450b70-0337-4406-bdbb-bc1037f1734c,176354c5eef714957d486009feabf195
3,3,F995323,a2057123-abf5-4a2c-abad-8ffe33512562,e19a0fa00aeda885b8a436757e889bc9
4,4,A879973,1dec528d-eb34-4079-adce-0d7a40e82205,cd17d7b6d152cb6f23957346d11c3f07
5,5,C544523,5885f56b-d6da-43a3-8760-83583af94266,d2f0425877b10ed6bb381f3e2579424a
...,...,...,...,...
9996,9996,B863060,a25b594d-0328-486f-a9b9-0567eb0f9723,39184dc28cc038871912ccc4500049e5
9997,9997,P712040,70711574-f7b1-4a17-b15f-48c54564b70f,3cd124ccd43147404292e883bf9ec55c
9998,9998,R778890,1d79569d-8e0f-4180-a207-d67ee4527d26,41b770aeee97a5b9e7f69c906a8119d7
9999,9999,E344109,f5a68e69-2a60-409b-a92f-ac0847b27db0,2bb491ef5b1beb1fed758cc6885c167a
10000,10000,I569847,bc482c02-f8c9-4423-99de-3db5e62a18d5,95663a202338000abdf7e09311c2a8a1