# Libraries and Data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.decomposition import PCA
from scipy import stats

In [2]:
# Load data, setting first column as DataFrame index
df = pd.read_csv('medical_raw_data.csv', index_col=0)
df.head()

,CaseOrder,Customer_id,Interaction,UID,City,State,County,Zip,Lat,Lng,...,TotalCharge,Additional_charges,Item1,Item2,Item3,Item4,Item5,Item6,Item7,Item8
1,1,C412403,8cd49b13-f45a-4b47-a2bd-173ffa932c2f,3a83ddb66e2ae73798bdf1d705dc0932,Eva,AL,Morgan,35621,34.34960,-86.72508,...,3191.048774,17939.403420,3,3,2,2,4,3,3,4
2,2,Z919181,d2450b70-0337-4406-bdbb-bc1037f1734c,176354c5eef714957d486009feabf195,Marianna,FL,Jackson,32446,30.84513,-85.22907,...,4214.905346,17612.998120,3,4,3,4,4,4,3,3
3,3,F995323,a2057123-abf5-4a2c-abad-8ffe33512562,e19a0fa00aeda885b8a436757e889bc9,Sioux Falls,SD,Minnehaha,57110,43.54321,-96.63772,...,2177.586768,17505.192460,2,4,4,4,3,4,3,3
4,4,A879973,1dec528d-eb34-4079-adce-0d7a40e82205,cd17d7b6d152cb6f23957346d11c3f07,New Richland,MN,Waseca,56072,43.89744,-93.51479,...,2465.118965,12993.437350,3,5,5,3,4,5,5,5
5,5,C544523,5885f56b-d6da-43a3-8760-83583af94266,d2f0425877b10ed6bb381f3e2579424a,West Point,VA,King William,23181,37.59894,-76.88958,...,1885.655137,3716.525786,2,1,3,3,5,3,4,3

# Initial Exploration of full DataFrame

In [3]:
# Verify the shape of the DataFrame as 10,000 rows and 52 columns
df.shape

(10000, 52)

In [4]:
# Describe the data but transpose to get the data in an easier format visually
# This identifies any numerical columns
df.describe().T

,count,mean,std,min,25%,50%,75%,max
CaseOrder,10000.0,5000.500000,2886.895680,1.000000,2500.750000,5000.500000,7500.250000,10000.000000
Zip,10000.0,50159.323900,27469.588208,610.000000,27592.000000,50207.000000,72411.750000,99929.000000
Lat,10000.0,38.751099,5.403085,17.967190,35.255120,39.419355,42.044175,70.560990
Lng,10000.0,-91.243080,15.205998,-174.209690,-97.352982,-88.397230,-80.438050,-65.290170
Population,10000.0,9965.253800,14824.758614,0.000000,694.750000,2769.000000,13945.000000,122814.000000
Children,7412.0,2.098219,2.155427,0.000000,0.000000,1.000000,3.000000,10.000000
Age,7586.0,53.295676,20.659182,18.000000,35.000000,53.000000,71.000000,89.000000
Income,7536.0,40484.438268,28664.861050,154.080000,19450.792500,33942.280000,54075.235000,207249.130000
VitD_levels,10000.0,19.412675,6.723277,9.519012,16.513171,18.080560,19.789740,53.019124
Doc_visits,10000.0,5.012200,1.045734,1.000000,4.000000,5.000000,6.000000,9.000000
Full_meals_eaten,10000.0,1.001400,1.008117,0.000000,0.000000,1.000000,2.000000,7.000000
VitD_supp,10000.0,0.398900,0.628505,0.000000,0.000000,0.000000,1.000000,5.000000
Overweight,9018.0,0.709137,0.454186,0.000000,0.000000,1.000000,1.000000,1.000000
Anxiety,9016.0,0.322316,0.467389,0.000000,0.000000,0.000000,1.000000,1.000000
Initial_days,8944.0,34.432082,26.287050,1.001981,7.911709,34.446941,61.124654,71.981486
TotalCharge,10000.0,5891.538261,3377.558136,1256.751699,3253.239465,5852.250564,7614.989701,21524.224210
Additional_charges,10000.0,12934.528586,6542.601544,3125.702716,7986.487642,11573.979365,15626.491033,30566.073130
Item1,10000.0,3.518800,1.031966,1.000000,3.000000,4.000000,4.000000,8.000000
Item2,10000.0,3.506700,1.034825,1.000000,3.000000,3.000000,4.000000,7.000000
Item3,10000.0,3.511100,1.032755,1.000000,3.000000,4.000000,4.000000,8.000000
Item4,10000.0,3.515100,1.036282,1.000000,3.000000,4.000000,4.000000,7.000000
Item5,10000.0,3.496900,1.030192,1.000000,3.000000,3.000000,4.000000,7.000000
Item6,10000.0,3.522500,1.032376,1.000000,3.000000,4.000000,4.000000,7.000000
Item7,10000.0,3.494000,1.021405,1.000000,3.000000,3.000000,4.000000,7.000000
Item8,10000.0,3.509700,1.042312,1.000000,3.000000,3.000000,4.000000,7.000000

In [5]:
# Get column information on all 52 columns and check for non-nulls 
# against number of entries
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10000 entries, 1 to 10000
Data columns (total 52 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CaseOrder           10000 non-null  int64
 1   Customer_id         10000 non-null  object
 2   Interaction         10000 non-null  object
 3   UID                 10000 non-null  object
 4   City                10000 non-null  object
 5   State               10000 non-null  object
 6   County              10000 non-null  object
 7   Zip                 10000 non-null  int64
 8   Lat                 10000 non-null  float64
 9   Lng                 10000 non-null  float64
 10  Population          10000 non-null  int64
 11  Area                10000 non-null  object
 12  Timezone            10000 non-null  object
 13  Job                 10000 non-null  object
 14  Children            7412 non-null   float64
 15  Age                 7586 non-null   float64
 16  Education           10000 non-null  object
 17  Employment          10000 non-null  object
 18  Income              7536 non-null   float64
 19  Marital             10000 non-null  object
 20  Gender              10000 non-null  object
 21  ReAdmis             10000 non-null  object
 22  VitD_levels         10000 non-null  float64
 23  Doc_visits          10000 non-null  int64
 24  Full_meals_eaten    10000 non-null  int64
 25  VitD_supp           10000 non-null  int64
 26  Soft_drink          7533 non-null   object
 27  Initial_admin       10000 non-null  object
 28  HighBlood           10000 non-null  object
 29  Stroke              10000 non-null  object
 30  Complication_risk   10000 non-null  object
 31  Overweight          9018 non-null   float64
 32  Arthritis           10000 non-null  object
 33  Diabetes            10000 non-null  object
 34  Hyperlipidemia      10000 non-null  object
 35  BackPain            10000 non-null  object
 36  Anxiety             9016 non-null   float64
 37  Allergic_rhinitis   10000 non-null  object
 38  Reflux_esophagitis  10000 non-null  object
 39  Asthma              10000 non-null  object
 40  Services            10000 non-null  object
 41  Initial_days        8944 non-null   float64
 42  TotalCharge         10000 non-null  float64
 43  Additional_charges  10000 non-null  float64
 44  Item1               10000 non-null  int64
 45  Item2               10000 non-null  int64
 46  Item3               10000 non-null  int64
 47  Item4               10000 non-null  int64
 48  Item5               10000 non-null  int64
 49  Item6               10000 non-null  int64
 50  Item7               10000 non-null  int64
 51  Item8               10000 non-null  int64
dtypes: float64(11), int64(14), object(27)
memory usage: 4.0+ MB

In [7]:
# Use df.duplicated() to return a Series checking for duplicate rows
df.duplicated()

1        False
2        False
3        False
4        False
5        False
         ...
9996     False
9997     False
9998     False
9999     False
10000    False
Length: 10000, dtype: bool

In [8]:
# Use df.duplicated().value_counts() to count the sum of duplicated rows
df.duplicated().value_counts()

False    10000
Name: count, dtype: int64

In [9]:
# Drop any duplicate rows (for experimental check only)
# Store in a new DataFrame as not to make any changes to the primary DataFrame: df
df_unique = df.drop_duplicates()
df_unique.shape

(10000, 52)

In [10]:
# Check that no duplicates remain
df_unique.duplicated().value_counts()

False    10000
Name: count, dtype: int64

### Initial Findings

No duplicate rows were found. All 10,000 rows are unique enough to be retained.

# C4: Data Cleaning Code (Detection)

The code in this section is simply designed to identify any data cleanliness issues rather than perform any cleaning or wrangling steps at this time.

In [ ]:
# If we were to drop all rows with ANY NA values, there would only be 2,313 rows with all values out of 10,000
no_missing_data = df.dropna()
no_missing_data.info()

In [ ]:
# Sample the remaining data
no_missing_data.sample(10)

### Initial Findings

If we were to drop all rows with _any_ NA values, there would only be 2,313 rows with all values remaining out of the original 10,000 rows. This reduction in data is too severe to consider this as a cleaning method for this dataset.

## Check for number of unique values across all 52 variables

In [11]:
# Run .nunique() against the DataFrame to return the number of unique variables
# found in each column (McCoy 2024)
df.nunique()

CaseOrder             10000
Customer_id           10000
Interaction           10000
UID                   10000
City                   6072
State                    52
County                 1607
Zip                    8612
Lat                    8588
Lng                    8601
Population             5951
Area                      3
Timezone                 26
Job                     639
Children                 11
Age                      72
Education                12
Employment                5
Income                 7531
Marital                   5
Gender                    3
ReAdmis                   2
VitD_levels           10000
Doc_visits                9
Full_meals_eaten          8
VitD_supp                 6
Soft_drink                2
Initial_admin             3
HighBlood                 2
Stroke                    2
Complication_risk         3
Overweight                2
Arthritis                 2
Diabetes                  2
Hyperlipidemia            2
BackPain                  2
Anxiety                   2
Allergic_rhinitis         2
Reflux_esophagitis        2
Asthma                    2
Services                  4
Initial_days           8944
TotalCharge           10000
Additional_charges     8888
Item1                     8
Item2                     7
Item3                     8
Item4                     7
Item5                     7
Item6                     7
Item7                     7
Item8                     7
dtype: int64

Any column with 52 or fewer unique values in this dataset will likely be a categorical variable. The exception to this statement is the 
'Children' column, which is a discrete numerical variable.

In [12]:
# Create a mask of the unique identifiers for patient data
unique_identifiers = df[['CaseOrder', 'Customer_id', 'Interaction', 'UID']]
unique_identifiers

,CaseOrder,Customer_id,Interaction,UID
1,1,C412403,8cd49b13-f45a-4b47-a2bd-173ffa932c2f,3a83ddb66e2ae73798bdf1d705dc0932
2,2,Z919181,d2450b70-0337-4406-bdbb-bc1037f1734c,176354c5eef714957d486009feabf195
3,3,F995323,a2057123-abf5-4a2c-abad-8ffe33512562,e19a0fa00aeda885b8a436757e889bc9
4,4,A879973,1dec528d-eb34-4079-adce-0d7a40e82205,cd17d7b6d152cb6f23957346d11c3f07
5,5,C544523,5885f56b-d6da-43a3-8760-83583af94266,d2f0425877b10ed6bb381f3e2579424a
...,...,...,...,...
9996,9996,B863060,a25b594d-0328-486f-a9b9-0567eb0f9723,39184dc28cc038871912ccc4500049e5
9997,9997,P712040,70711574-f7b1-4a17-b15f-48c54564b70f,3cd124ccd43147404292e883bf9ec55c
9998,9998,R778890,1d79569d-8e0f-4180-a207-d67ee4527d26,41b770aeee97a5b9e7f69c906a8119d7
9999,9999,E344109,f5a68e69-2a60-409b-a92f-ac0847b27db0,2bb491ef5b1beb1fed758cc6885c167a
10000,10000,I569847,bc482c02-f8c9-4423-99de-3db5e62a18d5,95663a202338000abdf7e09311c2a8a1

## Explore each of the remaining 48 variables (unique patient identifiers excluded)

### City

In [ ]:
# Run .nunique() against the column to return the number of unique variables
df['City'].nunique()

In [ ]:
# Run .value_counts() against the column to get the frequency of each distinct value in descending order
df['City'].value_counts()

### State

In [ ]:
# Run .nunique() against the column to return the number of unique variables
df['State'].nunique()

In [ ]:
# Run .value_counts() against the column to get the frequency of each distinct value in descending order
df['State'].value_counts()

In [ ]:
# Run .describe() against the column to get summary statistics on numeric and object types
df['State'].describe()

### County

In [ ]:
# Run .nunique() against the column to return the number of unique variables
df['County'].nunique()

In [ ]:
# Run .value_counts() against the column to get the frequency of each distinct value in descending order
df['County'].value_counts()

In [ ]:
# Run .describe() against the column to get summary statistics on numeric and object types
df['County'].describe()

### Zip

In [ ]:
# Run .nunique() against the column to return the number of unique variables
df['Zip'].nunique()

In [ ]:
# Run .value_counts() against the column to get the frequency of each distinct value
df['Zip'].value_counts()

In [ ]:
# Run .describe() against the column to get summary statistics on numeric and object types
df['Zip'].describe()

### Lat

In [ ]:
# Run .nunique() against the column to return the number of unique variables
df['Lat'].nunique()

In [ ]:
# Run .value_counts() against the column to get the frequency of each distinct value in descending order
df['Lat'].value_counts()

### Lng

In [ ]:
# Run .nunique() against the column to return the number of unique variables
df['Lng'].nunique()

In [ ]:
# Run .value_counts() against the column to get the frequency of each distinct value in descending order
df['Lng'].value_counts()

### Population

In [ ]:
# Run .nunique() against the column to return the number of unique variables
df['Population'].nunique()

In [ ]:
# Run .value_counts() against the column to get the frequency of each distinct value in descending order
df['Population'].value_counts()

In [ ]:
# Run .describe() against the column to get summary statistics on numeric and object types
df['Population'].describe()

In [ ]:
# Create histogram to view a preliminary spread of the data and distribution
plt.hist(df['Population']);
# df['Population'].hist()

In [ ]:
# Create boxplot to visualize spread of data plus outliers
sns.boxplot(data=df, x='Population')

### Area

In [ ]:
# Run .nunique() against the column to return the number of unique variables
df['Area'].nunique()

In [ ]:
# Run .value_counts() against the column to get the frequency of each distinct value in descending order
df['Area'].value_counts()

In [ ]:
# Run .describe() against the column to get summary statistics on numeric and object types
df['Area'].describe()

### Timezone

In [ ]:
# Run .nunique() against the column to return the number of unique variables
df['Timezone'].nunique()

In [ ]:
# Run .value_counts() against the column to get the frequency of each distinct value in descending order
df['Timezone'].value_counts()

In [ ]:
# Run .describe() against the column to get summary statistics on numeric and object types
df['Timezone'].describe()

### Job

In [ ]:
# Run .nunique() against the column to return the number of unique variables
df['Job'].nunique()

In [ ]:
# Run .value_counts() against the column to get the frequency of each distinct value in descending order
df['Job'].value_counts()

In [ ]:
# Run .describe() against the column to get summary statistics on numeric and object types
df['Job'].describe()

### Children

In [ ]:
# Run .nunique() against the column to return the number of unique variables
df['Children'].nunique()

In [ ]:
# Run .value_counts() against the column to get the frequency of each distinct value in descending order
df['Children'].value_counts()

In [ ]:
# Run .describe() against the column to get summary statistics on numeric and object types
df['Children'].describe()

In [ ]:
# Create histogram to view a preliminary spread of the data and distribution
plt.hist(df['Children'], bins=10);

### Age

In [ ]:
# Run .nunique() against the column to return the number of unique variables
df['Age'].nunique()

In [ ]:
# Run .value_counts() against the column to get the frequency of each distinct value in descending order
df['Age'].value_counts()

In [ ]:
# Run .describe() against the column to get summary statistics on numeric and object types
df['Age'].describe()

In [ ]:
# Create histogram to view a preliminary spread of the data and distribution
plt.hist(df['Age']);

### Education

In [ ]:
# Run .nunique() against the column to return the number of unique variables
df['Education'].nunique()

In [ ]:
# Run .value_counts() against the column to get the frequency of each distinct value in descending order
df['Education'].value_counts()

In [ ]:
# Run .describe() against the column to get summary statistics on numeric and object types
df['Education'].describe()

### Employment

In [ ]:
# Run .nunique() against the column to return the number of unique variables
df['Employment'].nunique()

In [ ]:
# Run .value_counts() against the column to get the frequency of each distinct value in descending order
df['Employment'].value_counts()

In [ ]:
# Run .describe() against the column to get summary statistics on numeric and object types
df['Employment'].describe()

In [ ]:
# Create histogram to view a preliminary spread of the data and distribution
plt.hist(df['Employment'], align='mid');

### Income

In [ ]:
# Run .nunique() against the column to return the number of unique variables
df['Income'].nunique()

In [ ]:
# Run .value_counts() against the column to get the frequency of each distinct value in descending order
df['Income'].value_counts()

In [ ]:
# Run .describe() against the column to get summary statistics on numeric and object types
df['Income'].describe()

In [ ]:
# Create histogram to view a preliminary spread of the data and distribution
plt.hist(df['Income']);

### Marital

In [ ]:
# Run .nunique() against the column to return the number of unique variables
df['Marital'].nunique()

In [ ]:
# Run .value_counts() against the column to get the frequency of each distinct value in descending order
df['Marital'].value_counts()

In [ ]:
# Run .describe() against the column to get summary statistics on numeric and object types
df['Marital'].describe()

In [ ]:
# Create histogram to view a preliminary spread of the data and distribution
plt.hist(df['Marital']);

### Gender

In [ ]:
# Run .nunique() against the column to return the number of unique variables
df['Gender'].nunique()

In [ ]:
# Run .value_counts() against the column to get the frequency of each distinct value in descending order
df['Gender'].value_counts()

In [ ]:
# Run .describe() against the column to get summary statistics on numeric and object types
df['Gender'].describe()

In [ ]:
# Create histogram to view a preliminary spread of the data and distribution
df['Gender'].hist()

### ReAdmis

In [ ]:
# Run .nunique() against the column to return the number of unique variables
df['ReAdmis'].nunique()

In [ ]:
# Run .value_counts() against the column to get the frequency of each distinct value in descending order
df['ReAdmis'].value_counts()

In [ ]:
# Run .describe() against the column to get summary statistics on numeric and object types
df['ReAdmis'].describe()

### VitD_levels

In [ ]:
# Run .nunique() against the column to return the number of unique variables
df['VitD_levels'].nunique()

In [ ]:
# Run .value_counts() against the column to get the frequency of each distinct value in descending order
df['VitD_levels'].value_counts()

In [ ]:
# Run .describe() against the column to get summary statistics on numeric and object types
df['VitD_levels'].describe()

In [ ]:
# Create histogram to view a preliminary spread of the data and distribution
df['VitD_levels'].hist()

### Doc_visits

In [ ]:
# Run .nunique() against the column to return the number of unique variables
df['Doc_visits'].nunique()

In [ ]:
# Run .value_counts() against the column to get the frequency of each distinct value in descending order
df['Doc_visits'].value_counts()

In [ ]:
# Run .describe() against the column to get summary statistics on numeric and object types
df['Doc_visits'].describe()

In [ ]:
# Create histogram to view a preliminary spread of the data and distribution
df['Doc_visits'].hist()

### Full_meals_eaten

In [ ]:
# Run .nunique() against the column to return the number of unique variables
df['Full_meals_eaten'].nunique()

In [ ]:
# Run .value_counts() against the column to get the frequency of each distinct value in descending order
df['Full_meals_eaten'].value_counts()

In [ ]:
# Run .describe() against the column to get summary statistics on numeric and object types
df['Full_meals_eaten'].describe()

In [ ]:
# Create histogram to view a preliminary spread of the data and distribution
df['Full_meals_eaten'].hist()

### VitD_supp

In [ ]:
# Run .nunique() against the column to return the number of unique variables
df['VitD_supp'].nunique()

In [ ]:
# Run .value_counts() against the column to get the frequency of each distinct value in descending order
df['VitD_supp'].value_counts()

In [ ]:
# Run .describe() against the column to get summary statistics on numeric and object types
df['VitD_supp'].describe()

In [ ]:
# Create histogram to view a preliminary spread of the data and distribution
df['VitD_supp'].hist()

### Soft_drink

In [ ]:
# Run .nunique() against the column to return the number of unique variables
df['Soft_drink'].nunique()

In [ ]:
# Run .value_counts() against the column to get the frequency of each distinct value in descending order
df['Soft_drink'].value_counts()

In [ ]:
# Run .describe() against the column to get summary statistics on numeric and object types
df['Soft_drink'].describe()

In [ ]:
# Create histogram to view a preliminary spread of the data and distribution
df['Soft_drink'].hist()

### Initital_admin

In [ ]:
# Run .nunique() against the column to return the number of unique variables
df['Initial_admin'].nunique()

In [ ]:
# Run .value_counts() against the column to get the frequency of each distinct value in descending order
df['Initial_admin'].value_counts()

In [ ]:
# Run .describe() against the column to get summary statistics on numeric and object types
df['Initial_admin'].describe()

In [ ]:
# Create histogram to view a preliminary spread of the data and distribution
df['Initial_admin'].hist()

### HighBlood

In [ ]:
# Run .nunique() against the column to return the number of unique variables
df['HighBlood'].nunique()

In [ ]:
# Run .value_counts() against the column to get the frequency of each distinct value in descending order
df['HighBlood'].value_counts()

In [ ]:
# Run .describe() against the column to get summary statistics on numeric and object types
df['HighBlood'].describe()

In [ ]:
# Create histogram to view a preliminary spread of the data and distribution
df['HighBlood'].hist()

### Stroke

In [ ]:
# Run .nunique() against the column to return the number of unique variables
df['Stroke'].nunique()

In [ ]:
# Run .value_counts() against the column to get the frequency of each distinct value in descending order
df['Stroke'].value_counts()

In [ ]:
# Run .describe() against the column to get summary statistics on numeric and object types
df['Stroke'].describe()

In [ ]:
# Create histogram to view a preliminary spread of the data and distribution
df['Stroke'].hist()

### Complication_risk

In [ ]:
# Run .nunique() against the column to return the number of unique variables
df['Complication_risk'].nunique()

In [ ]:
# Run .value_counts() against the column to get the frequency of each distinct value in descending order
df['Complication_risk'].value_counts()

In [ ]:
# Run .describe() against the column to get summary statistics on numeric and object types
df['Complication_risk'].describe()

In [ ]:
# Create histogram to view a preliminary spread of the data and distribution
df['Complication_risk'].hist()

### Overweight

In [ ]:
# Run .nunique() against the column to return the number of unique variables
df['Overweight'].nunique()

In [ ]:
# Run .value_counts() against the column to get the frequency of each distinct value in descending order
df['Overweight'].value_counts()

In [ ]:
# Run .describe() against the column to get summary statistics on numeric and object types
df['Overweight'].describe()

In [ ]:
# Create histogram to view a preliminary spread of the data and distribution
df['Overweight'].hist()

### Arthritis

In [ ]:
# Run .nunique() against the column to return the number of unique variables
df['Arthritis'].nunique()

In [ ]:
# Run .value_counts() against the column to get the frequency of each distinct value in descending order
df['Arthritis'].value_counts()

In [ ]:
# Run .describe() against the column to get summary statistics on numeric and object types
df['Arthritis'].describe()

In [ ]:
# Create histogram to view a preliminary spread of the data and distribution
df['Arthritis'].hist()

### Diabetes

In [ ]:
# Run .nunique() against the column to return the number of unique variables
df['Diabetes'].nunique()

In [ ]:
# Run .value_counts() against the column to get the frequency of each distinct value in descending order
df['Diabetes'].value_counts()

In [ ]:
# Run .describe() against the column to get summary statistics on numeric and object types
df['Diabetes'].describe()

In [ ]:
# Create histogram to view a preliminary spread of the data and distribution
df['Diabetes'].hist()

### Hyperlipidemia

In [ ]:
# Run .nunique() against the column to return the number of unique variables
df['Hyperlipidemia'].nunique()

In [ ]:
# Run .value_counts() against the column to get the frequency of each distinct value in descending order
df['Hyperlipidemia'].value_counts()

In [ ]:
# Run .describe() against the column to get summary statistics on numeric and object types
df['Hyperlipidemia'].describe()

In [ ]:
# Create histogram to view a preliminary spread of the data and distribution
df['Hyperlipidemia'].hist()

### BackPain

In [ ]:
# Run .nunique() against the column to return the number of unique variables
df['BackPain'].nunique()

In [ ]:
# Run .value_counts() against the column to get the frequency of each distinct value in descending order
df['BackPain'].value_counts()

In [ ]:
# Run .describe() against the column to get summary statistics on numeric and object types
df['BackPain'].describe()

In [ ]:
# Create histogram to view a preliminary spread of the data and distribution
df['BackPain'].hist()

### Anxiety

In [ ]:
# Run .nunique() against the column to return the number of unique variables
df['Anxiety'].nunique()

In [ ]:
# Run .value_counts() against the column to get the frequency of each distinct value in descending order
df['Anxiety'].value_counts()

In [ ]:
# Run .describe() against the column to get summary statistics on numeric and object types
df['Anxiety'].describe()

In [ ]:
# Create histogram to view a preliminary spread of the data and distribution
df['Anxiety'].hist();

### Alergic_rhinitis

In [ ]:
# Run .nunique() against the column to return the number of unique variables
df['Allergic_rhinitis'].nunique()

In [ ]:
# Run .value_counts() against the column to get the frequency of each distinct value in descending order
df['Allergic_rhinitis'].value_counts()

In [ ]:
# Run .describe() against the column to get summary statistics on numeric and object types
df['Allergic_rhinitis'].describe()

In [ ]:
# Create histogram to view a preliminary spread of the data and distribution
df['Allergic_rhinitis'].hist();

### Reflux_esophagitis

In [ ]:
# Run .nunique() against the column to return the number of unique variables
df['Reflux_esophagitis'].nunique()

In [ ]:
# Run .value_counts() against the column to get the frequency of each distinct value in descending order
df['Reflux_esophagitis'].value_counts()

In [ ]:
# Run .describe() against the column to get summary statistics on numeric and object types
df['Reflux_esophagitis'].describe()

In [ ]:
# Create histogram to view a preliminary spread of the data and distribution
df['Reflux_esophagitis'].hist();

### Asthma

In [ ]:
# Run .nunique() against the column to return the number of unique variables
df['Asthma'].nunique()

In [ ]:
# Run .value_counts() against the column to get the frequency of each distinct value in descending order
df['Asthma'].value_counts()

In [ ]:
# Run .describe() against the column to get summary statistics on numeric and object types
df['Asthma'].describe()

In [ ]:
# Create histogram to view a preliminary spread of the data and distribution
df['Asthma'].hist()

### Services

In [ ]:
# Run .nunique() against the column to return the number of unique variables
df['Services'].nunique()

In [ ]:
# Run .value_counts() against the column to get the frequency of each distinct value in descending order
df['Services'].value_counts()

In [ ]:
# Run .describe() against the column to get summary statistics on numeric and object types
df['Services'].describe()

In [ ]:
# Create histogram to view a preliminary spread of the data and distribution
df['Services'].hist()

### Initial_days

In [ ]:
# Run .nunique() against the column to return the number of unique variables
df['Initial_days'].nunique()

In [ ]:
# Run .value_counts() against the column to get the frequency of each distinct value in descending order
df['Initial_days'].value_counts()

In [ ]:
# Run .describe() against the column to get summary statistics on numeric and object types
df['Initial_days'].describe()

In [ ]:
# Create histogram to view a preliminary spread of the data and distribution
df['Initial_days'].hist();

### TotalCharge

In [ ]:
# Run .nunique() against the column to return the number of unique variables
df['TotalCharge'].nunique()

In [ ]:
# Run .value_counts() against the column to get the frequency of each distinct value in descending order
df['TotalCharge'].value_counts()

In [ ]:
# Run .describe() against the column to get summary statistics on numeric and object types
df['TotalCharge'].describe()

In [ ]:
# Create histogram to view a preliminary spread of the data and distribution
df['TotalCharge'].hist()

### Additional_charges

In [ ]:
# Run .nunique() against the column to return the number of unique variables
df['Additional_charges'].nunique()

In [ ]:
# Run .value_counts() against the column to get the frequency of each distinct value in descending order
df['Additional_charges'].value_counts()

In [ ]:
# Run .describe() against the column to get summary statistics on numeric and object types
df['Additional_charges'].describe()

In [ ]:
# Create histogram to view a preliminary spread of the data and distribution
df['Additional_charges'].hist()

### Item1 (Survey Question)

In [ ]:
# Run .nunique() against the column to return the number of unique variables
df['Item1'].nunique()

In [ ]:
# Run .value_counts() against the column to get the frequency of each distinct value in descending order
df['Item1'].value_counts()

In [ ]:
# Run .describe() against the column to get summary statistics on numeric and object types
df['Item1'].describe()

In [ ]:
# Create histogram to view a preliminary spread of the data and distribution
df['Item1'].hist(bins=8)

### Item2 (Survey Question)

In [ ]:
# Run .nunique() against the column to return the number of unique variables
df['Item2'].nunique()

In [ ]:
# Run .value_counts() against the column to get the frequency of each distinct value in descending order
df['Item2'].value_counts()

In [ ]:
# Run .describe() against the column to get summary statistics on numeric and object types
df['Item2'].describe()

In [ ]:
# Create histogram to view a preliminary spread of the data and distribution
df['Item2'].hist(bins=8)

### Item 3 (Survey Question)

In [ ]:
# Run .nunique() against the column to return the number of unique variables
df['Item3'].nunique()

In [ ]:
# Run .value_counts() against the column to get the frequency of each distinct value in descending order
df['Item3'].value_counts()

In [ ]:
# Run .describe() against the column to get summary statistics on numeric and object types
df['Item3'].describe()

In [ ]:
# Create histogram to view a preliminary spread of the data and distribution
df['Item3'].hist(bins=8)

### Item4 (Survey Question)

In [ ]:
# Run .nunique() against the column to return the number of unique variables
df['Item4'].nunique()

In [ ]:
# Run .value_counts() against the column to get the frequency of each distinct value in descending order
df['Item4'].value_counts()

In [ ]:
# Run .describe() against the column to get summary statistics on numeric and object types
df['Item4'].describe()

In [ ]:
# Create histogram to view a preliminary spread of the data and distribution
df['Item4'].hist(bins=8);

### Item5 (Survey Question)

In [ ]:
# Run .nunique() against the column to return the number of unique variables
df['Item5'].nunique()

In [ ]:
# Run .value_counts() against the column to get the frequency of each distinct value in descending order
df['Item5'].value_counts()

In [ ]:
# Run .describe() against the column to get summary statistics on numeric and object types
df['Item5'].describe()

In [ ]:
# Create histogram to view a preliminary spread of the data and distribution
df['Item5'].hist(bins=8);

### Item6 (Survey Question)

In [ ]:
# Run .nunique() against the column to return the number of unique variables
df['Item6'].nunique()

In [ ]:
# Run .value_counts() against the column to get the frequency of each distinct value in descending order
df['Item6'].value_counts()

In [ ]:
# Run .describe() against the column to get summary statistics on numeric and object types
df['Item6'].describe()

In [ ]:
# Create histogram to view a preliminary spread of the data and distribution
df['Item6'].hist(bins=8)

### Item7 (Survey Question)

In [ ]:
# Run .nunique() against the column to return the number of unique variables
df['Item7'].nunique()

In [ ]:
# Run .value_counts() against the column to get the frequency of each distinct value in descending order
df['Item7'].value_counts()

In [ ]:
# Run .describe() against the column to get summary statistics on numeric and object types
df['Item7'].describe()

In [ ]:
# Create histogram to view a preliminary spread of the data and distribution
df['Item7'].hist(bins=8)

### Item8 (Survey Question)

In [ ]:
# Run .nunique() against the column to return the number of unique variables
df['Item8'].nunique()

In [ ]:
# Run .value_counts() against the column to get the frequency of each distinct value in descending order
df['Item8'].value_counts()

In [ ]:
# Run .describe() against the column to get summary statistics on numeric and object types
df['Item8'].describe()

In [ ]:
# Create histogram to view a preliminary spread of the data and distribution
df['Item8'].hist(bins=8)